@{
    ViewBag.Title = "Film Review Website";
}

<div class="jumbotron">
    <h1>No.1 Film Review Website</h1>
    <p class="lead">Our Film Review Website is a place where the latest films are reviewed by us and you, make a account today!</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Log In to get started and if you don't have an account, why dont you make one?
        </p>
        <p><a class="btn btn-default" href="~/Views/Account/Register.cshtml">Register &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Review Library</h2>
        <p>We have an extensive library of films which have been reviewed by us and our community.</p>
        <p><a class="btn btn-default" href="~/Views/Film/Index.cshtml">Film Library &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>There a Movie that we haven't reviewed?</h2>
        <p>You can easily add a movie to our library if we haven't reviewed it and you can leave one!</p>
        <p><a class="btn btn-default" href="~/Views/Film/Create.cshtml">Add Movie &raquo;</a></p>
    </div>
</div>