
@{
    ViewBag.Title = "Product";
}

<h2>Product</h2>

<body>
    <div>
        <h1>@Model.Name</h1>
        <h2>@ViewBag.SubTitle</h2>
        <p><strong>Price:</strong> @Model.Price</p>
        <p>@Model.Description</p>
    </div>
</body>
